{% extends '../base.html' %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Intervención</h5>
            <hr>
            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                {{ form.errors }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{denuncia}}" name="denuncia">
                <h6 class="form-group">Procesar intervención</h6>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="Asesores">Asesores(es)</label>
                        {{form.asesores}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tipo">Tipo de Proceso</label>
                        {{form.tipo_proceso}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="Empresa">Empresa</label>
                        {{form.empresa}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="Ciudad">Ciudad</label>
                        {{form.ciudad}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="Fecha">Fecha y hora de Traslado</label>
                        {{form.fecha_traslado}}
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="Fecha">Para legal</label>
                        {{form.fecha_legal}}
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="Descripcion">Descripción</label>
                        {{form.descripcion}}
                    </div>
                </div>
                <hr>
                <button class="btn btn-danger" type="submit">Guardar información de la intervención</button>
            </form>
        </section>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(function(){
        $('#id_fecha_traslado').mask('00/00/0000 00:00');
        $('#id_fecha_legal').mask('00/00/0000 00:00');
    })
</script>
{% endblock %}