{% extends '../base.html' %}

{% block content %}
<div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Listado de intervenciones</h2>
    </div>
    <div class="d-flex">
        <a href="/gestion/denuncias/listado" class="btn btn-sm  btn-primary btn-wth-icon icon-wthot-bg mr-15 mb-15">
            <span class="icon-label">
                <i class="fa fa-list-ul"></i>
            </span>
            <span class="btn-text">
                Listado
            </span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Intervenciones de la denuncia #{{denuncia}}</h5>
            <div class="row">
                <div class="col-sm">
                    <div class="table-wrap mb-5">
                     <div class="table-responsive">
                        <table id="datable_1" class="table mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Asesor</th>
                                    <th>Empresa</th>
                                    <th>Fiscalia</th>
                                    <th>Fiscalia Superior</th>
                                    <th>Fecha Traslado </th>
                                    <th>Fecha Legal</th>
                                    <th>Ver</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>
                                        {{object.asesores}}
                                    </td>
                                    <td>
                                        {{object.empresa}}
                                    </td>
                                    <td>
                                        {{object.fiscalia}}
                                    </td>
                                    <td>
                                        {{object.fiscalia_superior}}
                                    </td>
                                    <td>
                                        {{object.fecha_traslado |date:'M d, Y' }}
                                    </td>
                                    <td>
                                        {{object.fecha_legal |date:'M d, Y' }}
                                    </td>
                                    <td>
                                        <a href="/seguimiento/intervencion/{{object.id}}/editar" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                            <span class="btn-icon-wrap">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/seguimiento/intervencion/{{object.id}}/eliminar" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                            <span class="btn-icon-wrap">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                         {% if is_paginated %}
                            <br>
                            <div class="row justify-content-center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                          <li class="page-item">
                                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                  &laquo; Anterior
                                              </a>
                                          </li>
                                        {% else %}
                                          <li class="disabled"><span class="page-link">&laquo; Anterior</span></li>
                                        {% endif %}
                                        {% for i in page_obj.paginator.page_range %}
                                          {% if page_obj.number == i %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ i }}
                                                    <span class="sr-only">(current)</span>
                                                </span>
                                            </li>
                                          {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                          {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                          <li><a class="page-link" href="?page={{ page_obj.next_page_number }}"> Siguiente &raquo;</a></li>
                                        {% else %}
                                          <li class="page-item disabled"><span class="page-link">Siguiente&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}