{% extends '../base.html' %}

{% block content %}
<div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Procesar intervención</h2>
    </div>
    <div class="d-flex">
        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-sm  btn-primary btn-wth-icon icon-wthot-bg mr-15 mb-15">
            <span class="icon-label">
                <i class="fa fa-list-ul"></i>
            </span>
            <span class="btn-text">
                Listado
            </span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <p class="mb-25">
                <strong>(*)</strong> Datos Obligatorios. <strong>Notas:</strong>
                Todos los valores se guardaran en mayusculas para mantener un solo formato uniforme.
            </p>
            <hr>
            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                {{ form.errors }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{denuncia}}" name="denuncia">
                <h6 class="form-group">Procesar intervención</h6>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="Asesores">Asesores(es)</label>
                        {{form.asesores}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tipo">Tipo de Proceso</label>
                        {{form.tipo_proceso}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="Empresa">Empresa</label>
                        {{form.empresa}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="Ciudad">Ciudad</label>
                        {{form.ciudad}}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="Fecha">Fecha y hora de Traslado</label>
                        {{form.fecha_traslado}}
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="Fecha">Para legal</label>
                        {{form.fecha_legal}}
                    </div>
                </div>
                 <hr>

                <h6 class="form-group">Otros datos de seguimiento</h6>
                <div class="row">

                   <div class="col-md-6 form-group">
                        <label for="Sede">Sede Policial</label>
                        {{form.sede_policial}}
                   </div>

                   <div class="col-md-6 form-group">
                        <label for="JuzgadoP">Juzgado PAZ</label>
                        {{form.juez_paz}}
                   </div>
                   <div class="col-md-6 form-group">
                        <label for="Fiscalia">Fiscalia</label>
                        {{form.fiscalia}}
                   </div>

                   <div class="col-md-6 form-group">
                        <label for="FiscaliaS">Fiscalia Superior</label>
                        {{form.fiscalia_superior}}
                   </div>
                   <div class="col-md-6 form-group">
                        <label for="Juzgado">Juzgado penal</label>
                        {{form.juezgado_penal}}
                   </div>

                   <div class="col-md-6 form-group">
                        <label for="Reparacion">Reparación Civil</label>
                        {{form.reparacion_civil}}
                   </div>
                    <div class="col-md-6 form-group">
                        <label for="Estado">Estado de RC</label>
                        {{form.estado_rc}}
                   </div>

                   <div class="col-md-6 form-group">
                        <label for="Situacion">Situación</label>
                        {{form.situacion}}
                   </div>
                    <div class="col-md-12 form-group">
                        <label for="Descripcion">Descripción</label>
                        {{form.descripcion}}
                    </div>
                </div>
                <hr>
                <button class="btn btn-danger" type="submit">Guardar información de la intervención</button>
            </form>
        </section>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(function(){
        $('#id_fecha_traslado').mask('00/00/0000 00:00');
        $('#id_fecha_legal').mask('00/00/0000 00:00');
    })
</script>
{% endblock %}