{% extends '../base.html' %}

{% block content %}
<!-- Title -->
<div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Categorías</h2>

    </div>
    <div class="d-flex">
        <a href="/categorias/modalidades/registrar" class="btn btn-sm  btn-primary btn-wth-icon icon-wthot-bg mr-15 mb-15">
            <span class="icon-label">
                <i class="fa fa-plus-circle"></i>
            </span>
            <span class="btn-text">
                Nuevo
            </span>
        </a>
    </div>
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">

            <h5 class="hk-sec-title">Lista de categorías Modalidad</h5>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <div class="table-wrap mb-5">
                        <div class="table-responsive">
                        <table id="datable_1" class="table mb-0">
                            <thead class="thead-dark">
                                <tr>

                                    <th>Modalidad</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{object.nombre}}</td>
                                    <td>
                                            <a href="/categorias/modalidades/{{object.id}}/editar" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                                <span class="btn-icon-wrap">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/categorias/modalidades/{{object.id}}/eliminar" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                                <span class="btn-icon-wrap">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </a>
                                        </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            </div>
        </section>

    </div>
{% endblock %}