{% extends '../base.html' %}

{% block content %}
<div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Categorías</h2>
    </div>
    <div class="d-flex">
        <a href="/categorias/clases/listado" class="btn btn-sm  btn-primary btn-wth-icon icon-wthot-bg mr-15 mb-15">
            <span class="icon-label">
                <i class="fa fa-envelope-o"></i>
            </span>
            <span class="btn-text">
                Listado
            </span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Registrar una nueva tienda</h5>
            <p class="mb-25"><strong>(*) Datos Obligatorio</p>
            <hr>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="accion" value="{{ accion }}">

                <div class="form-group col-5">
                    <label>Nombre de la tienda</label>
                    {{form.nombre}}
                </div>

                <hr>
                <button class="btn btn-danger" type="submit">Guardar</button>
            </form>
        </section>
    </div>
</div>
{% endblock %}