{% include '../elements/style.html' %}

<section id="denuncia">
    <div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Reporte de Denuncia</h2>
    </div>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <section class="hk-sec-wrapper">
                <div class="row">
                    {% for tendero in tenderos %}
                        <div class="col-lg-4 text-center">
                            <img src="/media/{{tendero.foto}}" width="20%" class="img-fluid circle" alt="img">
                            <h3>{{tendero.nombre}} {{tendero.apellido}}</h3>

                        </div>
                        <div class="col-lg-8">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Nombre:</strong> {{tendero.nombre}}

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Apellido:</strong> {{tendero.apellido}}

                                </li>
                                <!--<li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Edad:</strong> 24 años

                                </li>-->
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>DNI:</strong> {{tendero.dni}}

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Nacionalidad:</strong> {{tendero.nacionalidad}}

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Sexo:</strong> {{tendero.sexo}}

                                </li>
                                <!--<li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Correo eléctronico:</strong> gene@hotmail.com

                                </li>-->
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Teléfono:</strong> {{tendero.telefono}}

                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>Dirección:</strong> {{tendero.direccion}}

                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="hk-sec-wrapper">
                <h3>Producto</h3>
                <div class="row">
                    {% for producto in productos %}

                    <div class="col-md-6 mt-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Código: {{producto.producto.id}}</strong>

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Nombre:</strong> {{producto.producto.nombre}}

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Area:</strong> {{producto.producto.area}}

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Descripción:</strong> {{producto.producto.descripcion}}

                            </li>
                        </ul>

                    </div>
                    <div class="col-md-6 mt-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Monto:</strong> {{producto.producto.monto}}

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Cantidad:</strong> {{producto.cantidad}}

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Total:</strong>  {{producto.monto}}

                            </li>

                        </ul>

                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hk-sec-wrapper">
                <h3>Datos de la Denuncia</h3>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Nro.Código:</strong> {{denuncia.id}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Fecha:</strong> {{denuncia.fecha_denuncia}}
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Tienda:</strong> {{denuncia.tienda}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Propietario:</strong> {{denuncia.tienda.propietario}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Clase:</strong> {{denuncia.clase}}

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Modalidad:</strong> {{denuncia.modalidad}}

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Hechos:</strong> {{denuncia.hechos}}

                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

