{% load static %}
<!-- Morris Charts CSS -->
<link href="{% static 'ultra/vendors/morris.js/morris.css' %}" rel="stylesheet" type="text/css" />

<!-- Toastr CSS -->
<link href="{% static 'ultra/vendors/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet" type="text/css">

<!-- Toggles CSS -->
<link href="{% static 'ultra/vendors/jquery-toggles/css/toggles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'ultra/vendors/jquery-toggles/css/themes/toggles-light.css' %}" rel="stylesheet" type="text/css">


 <!-- Data Table CSS -->
<link href="{% static 'vendors/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet" type="text/css" />


<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'vendors/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'vendors/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css"/>


<!-- Bootstrap Dropzone CSS -->
<link href="{% static 'vendors/dropzone/dist/dropzone.css' %}" rel="stylesheet" type="text/css"/>

<!-- Bootstrap Dropzone CSS -->
<link href="{% static 'vendors/dropify/dist/css/dropify.min.css' %}" rel="stylesheet" type="text/css"/>

<!-- Toggles CSS -->
<link href="{% static 'vendors/jquery-toggles/css/toggles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}" rel="stylesheet" type="text/css">


<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">