{% load static %}
<!-- Morris Charts CSS -->

<link href="{% static 'css/material-design-iconic-font.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Toastr CSS -->
<link href="{% static 'toastr.css' %}" rel="stylesheet" type="text/css">

<!-- Toggles CSS -->
<link href="{% static 'vendors/jquery-toggles/css/toggles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}" rel="stylesheet" type="text/css">


<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">