{% extends 'base.html' %}
{% block content %}
<div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Bienvenidos a ULTRA</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6 col-md-3">
        <a href="/gestion/tenderos/registrar">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Tenderos</div>
                            <div class="h5 mb-0 font-weight-bold text-danger">{{total_tenderos}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-address-card fa-2x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-3">
        <a href="/gestion/denuncias/listado">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Denuncias</div>
                            <div class="h5 mb-0 font-weight-bold text-success">{{total_denuncias}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullhorn fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>


    </div>
    <div class="col-sm-6 col-md-3">
        <a href="/gestion/denuncias/listado">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-purple text-uppercase mb-1">Intervenciones</div>
                            <div class="h5 mb-0 font-weight-bold text-purple">{{total_intervenciones}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-gavel fa-2x text-purple"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
