{% extends "base.html" %}
{% block content %}
<div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Bienvenidos a ULTRA</h2>

    </div>
    <div class="d-flex">
        <button class="btn btn-sm btn-outline-light btn-wth-icon icon-wthot-bg mr-15 mb-15"><span class="icon-label"><i class="fa fa-envelope-o"></i> </span><span class="btn-text">Enviar al correo </span></button>
        <button class="btn btn-sm btn-outline-light btn-wth-icon icon-wthot-bg mr-15 mb-15"><span class="icon-label"><i class="fa fa-print"></i> </span><span class="btn-text">Imprimir </span></button>
        <button class="btn btn-sm btn-danger btn-wth-icon icon-wthot-bg mb-15"><span class="icon-label"><i class="fa fa-download"></i> </span><span class="btn-text">Exportar </span></button>
    </div>
</div>
{% endblock %}
