{% extends 'base.html' %}
{% block content %}
<div class="hk-pg-header align-items-top">
    <div>
        <h2 class="hk-pg-title font-weight-600 mb-10">Bienvenidos a ULTRA</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6 col-md-3">
        <a href="/gestion/tenderos/registrar">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Tenderos</div>
                            <div class="h5 mb-0 font-weight-bold text-danger">{{total_tenderos}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-address-card fa-2x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-3">
        <a href="/gestion/denuncias/listado">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Denuncias</div>
                            <div class="h5 mb-0 font-weight-bold text-success">{{total_denuncias}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullhorn fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>


    </div>

    <div class="col-sm-6 col-md-3">
        <a href="/gestion/denuncias/listado">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-purple text-uppercase mb-1">Intervenciones</div>
                            <div class="h5 mb-0 font-weight-bold text-purple">{{total_intervenciones}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-gavel fa-2x text-purple"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{{grafico}}
</div>
<br/>
<div id="chart_div"></div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/usuarios/data',
            type: 'GET',
            async: false,
            success: function (jsonData) {

                var result = [];

                for(var i in jsonData)
                    result.push([i, jsonData [i]]);

                google.charts.load('current', {packages: ['corechart', 'bar']});
                google.charts.setOnLoadCallback(drawBasic);

                function drawBasic() {
                    var data = google.visualization.arrayToDataTable(result );
                    var materialOptions = {
                        title: 'Número de denuncias en los últimos 7 días',
                        backgroundColor: '#FFFFFF',
                        height: 400,
                        width: '100%',
                        /*legend: {
                            position: 'bottom',
                            alignment: 'bottom',
                        },*/
                        fontSize: 11,
                        theme: 'material',
                        animation: {
                            duration: 5000000,
                            easing: 'out',
                            startup: true
                        }
                    };

                    var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
                    materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
                }
            }
        });



    })
</script>
{% endblock %}
