{% extends '../base.html' %}
{% block content %}
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-sm">
                    <div class="row mb-30">
                        <div class="col-sm">
                            <h5 class="hk-sec-title">Buscar denuncia</h5>
                            <hr>
                            <a href="/gestion/denuncias/registrar" class="btn btn-primary btn-wth-icon icon-wthot-bg mr-15 mb-15 float-right">
                                <span class="icon-label">
                                    <i class="fa fa-plus-circle"></i>
                                </span>
                                <span class="btn-text">
                                    Nuevo
                                </span>
                            </a>
                            <form method="post" id="form-importar" enctype="multipart/form-data" action="/gestion/import/denuncias/">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-3">
                                        <input type="file" style="display: none" id="input-upload" name="file">
                                        <button type="button" class="btn btn-danger btn-wth-icon icon-wthot-bg mb-15" onclick="seleccionarArchivo()">
                                            <span class="icon-label"><i class="fa fa-download"></i></span>
                                            <span class="btn-text">Importar </span>
                                        </button>
                                    </div>
                                    <!--<div class="col-3">
                                        <button type="button" class="btn btn-danger btn-wth-icon icon-wthot-bg mb-15">
                                            <span class="icon-label"><i class="fa fa-upload"></i></span>
                                            <span class="btn-text">Exportar </span>
                                        </button>
                                    </div>-->
                                </div>
                                <p class="mb-10">
                                    <strong>IMPORTAR DENUNCIAS:</strong> Se realiza mediante un archivo .csv. y debe contener los en siguientes campos en
                                    el orden respectivo:
                                </p><STRONG>NOMBRE DEL TENDEDOR,</STRONG>
                                    <STRONG>APELLIDO DEL TENDEDOR,</STRONG>
                                    <STRONG>HECHOS,</STRONG>
                                    <STRONG>PRODUCTO,</STRONG>
                                    <STRONG>NOMBRE DE LA TIENDA,</STRONG>
                                    <STRONG>MODALIDAD,</STRONG>
                                    <STRONG>ESTADO DE LA INTERVENCIÓN,</STRONG>
                                    <STRONG>CLASE,</STRONG>
                                    <STRONG>FECHA Y HORA (MISMO CAMPO).</STRONG>
                                <p class="mt-10">
                                    <strong>NOTA:</strong> Si en el archivo de denuncias existen tenderos que no estan registrados en el sistema. Se recomienda realizar el proceso de
                                    importar tenderos primeramente.
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="hk-sec-title">Todas las denuncias</h5>

            <div class="row">
                <div class="col-sm">
                    <div class="table-wrap mb-5">
                     <div class="table-responsive">
                        <table id="datable_1" class="table mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Código</th>
                                    <th>Fecha</th>
                                    <th>tienda</th>
                                    <th>Intervención</th>
                                    <th>Ver</th>
                                    <th>Imprimir</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>
                                        {{object.id}}
                                    </td>
                                    <td>
                                        {{object.fecha_denuncia}}
                                    </td>
                                    <td>
                                        {{object.tienda}}
                                    </td>
                                    <td>
                                        <a href="/seguimiento/intervencion/{{object.id}}/registrar" title="Crear Intervención" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                            <span class="btn-icon-wrap">
                                                <i class="fa fa-gavel"></i>
                                            </span>
                                        </a>
                                        <a href="/seguimiento/intervencion/{{object.id}}/listado" title="Listado de Intervención" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                            <span class="btn-icon-wrap">
                                                <i class="fa fa-list-alt"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/gestion/denuncias/{{object.id}}/editar" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                            <span class="btn-icon-wrap">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/gestion/denuncia/imprimir/{{object.id}}/" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                            <span class="btn-icon-wrap">
                                                <i class="fa fa-print"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/gestion/denuncias/{{object.id}}/eliminar" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3">
                                            <span class="btn-icon-wrap">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                         {% if is_paginated %}
                            <br>
                            <div class="row justify-content-center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                          <li class="page-item">
                                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                  &laquo; Anterior
                                              </a>
                                          </li>
                                        {% else %}
                                          <li class="disabled"><span class="page-link">&laquo; Anterior</span></li>
                                        {% endif %}
                                        {% for i in page_obj.paginator.page_range %}
                                          {% if page_obj.number == i %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ i }}
                                                    <span class="sr-only">(current)</span>
                                                </span>
                                            </li>
                                          {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                          {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                          <li><a class="page-link" href="?page={{ page_obj.next_page_number }}"> Siguiente &raquo;</a></li>
                                        {% else %}
                                          <li class="page-item disabled"><span class="page-link">Siguiente&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </section>

    </div>
{% endblock %}

{% block js %}
<script>
    $('#input-upload').change(function() {
        $('#form-importar').submit();
    });
    function seleccionarArchivo() {
        $('#input-upload').trigger('click');
    }
</script>
{% endblock js %}