{% extends '../base.html' %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Gestión de denuncias</h5>

            <hr>
            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
              {{ form.errors }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <h6 class="form-group">Datos de los tendero(s) involucrado(s)</h6>
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="id_tendero">Seleccionar/ Gestionar tendero(s)</label>
                                {{form.tendero}}
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea class="form-control mt-15" rows="4" placeholder="Narrar los echos" name="hechos"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <h6 class="form-group">Datos de la tienda, productos(s) y otros</h6>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label for="pregunta">Seleccionar el/ los producto(s)</label>
                        {{form.producto}}
                    </div>
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label for="tienda">Seleccionar la tienda</label>
                        {{form.tienda}}
                    </div>
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label for="modalidad">Modalidad</label>
                        {{form.modalidad}}
                    </div>
                    <div class="col-lg-6 col-sm-6 form-group">
                        <label for="clase">Clase</label>
                        {{form.clase}}
                    </div>
                </div>
                <hr>
                <button class="btn btn-danger" type="submit">Guardar información de la denuncia</button>
                <a href="/gestion/denuncias/registrar" class="btn-primary btn"> Nuevo</a>
                <a href="/gestion/denuncias/listado" class="btn-success btn"> Listado</a>
            </form>
        </section>
    </div>
</section>
{% endblock %}