{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
    .cargar {
        display: none;
    }
</style>
<div class="row">
    <div class="col-xl-12">
        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Registro de Tenderos</h5>
            <p class="mb-25"><strong>(*)</strong> Datos Obligatorios. <strong>Formatos soportado:</strong> .jpg y .png - <strong>Tamaño recomendado:</strong> 1 MB 720px - <strong>Notas:</strong> Todos los valores se guardaran en mayusculas para mantener un solo formato uniforme.</p>

            <hr>
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                  {{ form.errors }}
                </div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning text-center" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <h6 class="form-group">Datos del tendero</h6>
            <div class="row">
                <div class="col-sm">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-8">
                                <div class="col-md-12 form-group">
                                    <label for="dni">DNI</label>
                                    {{form.dni}}
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="nombre">Nombres</label>
                                    {{form.nombre}}
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="apellido">Apellidos</label>
                                    {{form.apellido}}
                                </div>

                            </div>
                            <div class="col-4">
                                <p class="text-center">Foto de Perfil</p>
                                <div style="width: 180px; position: relative; margin: 0 auto">
                                    <div class="cargar">{{form.foto}}</div>

                                    {% if form.foto.value %}
                                        <img name="preview_logo" id="avatar" width="180px" src = "/media/{{form.foto.value}}">
                                    {% else %}
                                        <img name="preview_logo" id="avatar" width="180px" src="{% static 'img/avatar.svg' %}">
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6 form-group">
                               <label for="country">Nacionalidad</label>
                               {{form.nacionalidad}}
                           </div>
                            <div class="col-md-6 form-group">
                                <label for="country">Sexo</label>
                                {{form.sexo}}
                           </div>
                        </div>
                       
                        <hr>

                        <h6 class="form-group">Otros datos</h6>

                        <div class="row">
                            <div class="col-md-6 form-group">
                            <label for="country">Tipo</label>
                                {{form.tipo_proceso}}
                           </div>
                           <div class="col-md-6 form-group">
                                <label for="Telefono">Telefono</label>
                                {{form.telefono}}
                           </div>

                           <div class="col-md-12 form-group">
                                <label for="direccion">Dirección</label>
                                {{form.direccion}}
                           </div>
                        </div>

                        <hr>
                        <button class="btn btn-danger" type="submit">Guardar información del tendero</button>
                        <a href="/gestion/tenderos/registrar" class="btn-primary btn"> Nuevo</a>
                        <a href="/gestion/tenderos/listado" class="btn-success btn"> Listado</a>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}

{% block js %}
        <!--<script src="{% static 'js/avatar.js' %}"></script>-->
        <script>
            $(function() {
                $("#avatar").click(function() {
                    $('#id_foto').click();
                });
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    if ((input.files[0].type != 'image/png') && (input.files[0].type != 'image/jpg') && (input.files[0].type != 'image/jpeg')) {
                        mostrarMensajes('Sólo se permiten imágenes en formato PNG o JPG');
                        $('#id_logo').val('');
                        return false;
                    }
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("img[name='preview_logo']").attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
{% endblock %}
